.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    gap: 40px;  
}

.contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    /* Remove the margin-right property */
}