
h1 {
    color: #EDEDED;
}
p {
    line-height: 1.6;
}
.secondary-color {
    color: #444;
}

.all-job-details{
    margin-top: 3rem;
    background-color:#333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}
.all-job-details .details-title{
    color: #EDEDED;
    font-size: 2rem;
}
.jobs-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-deatail-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.job-deatail-info i {
    background-color: #444;
    padding: 12px;
    font-size: 25px;
    color: #EDEDED;
    border-radius: 5px;
}
.job-deatail-text h4{
    font-size: 1.2rem;
    color: #EDEDED;
}
.job-deatail-text p{
    font-size: 1rem;
    color: #a9a4a4;
}


@media (max-width: 768px){
    .all-job-details{
        align-items: center;
    }
    .jobs-details{
        flex-wrap: wrap;
        gap: 1rem;
    }
}