
.main-content {
    margin-top: 20px;
}
.job-listings {
    width: 100%;
}
.job-card {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
h2 {
    margin-top: 0;
}
.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    border: none;
    color: #EDEDED;
    border-radius: 5px;
}
.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sort-label {
    font-weight: bold;
}
.sort-select {
    background-color: #444;
    color: #EDEDED;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
 
.job-card h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
     
    font-weight: bold;
    unicode-bidi: isolate;
}

.job-card p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}