* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-Container {
  display: flex;
  justify-content: space-between;
border-radius: 2px;
  height: 80px;
  align-items: center;
   
}

.left-container-nav {
  width: 70%;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-container-nav img {
  height: 70px;
}

img {
  max-width: 180px;
}

.left-container-nav span {
  font-size: 24px;
  color: white;
  margin-left: 20px;

  align-items: center;
  color: black;
  display: flex;
}

.right-container-nav {
  display: flex;
  margin-left: 20px;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.icon {
  padding: 0 15px;

  align-items: center;
  justify-content: center;
  padding: 10px;
}
.icon i {
  font-size: 20px;
}

.right-container-nav button {
  
  outline: none;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 5px;
  align-items: center;
}

button{
    font-size: 18px;
    padding:  10px 20px;
}
